data/raw/
data/processed/
segmentation/data/
segmentation model/data/
segmentation model/kaggle_final_output/
segmentation/kaggle_final_output/output.zip
segmentation/kaggle_final_output/working_output.zip
segmentation/kaggle_final_output/segmentation/results/models/

results/models/
segmentation/results/models/
segmentation model/results/models/
improved model/results/models/
*.keras

__pycache__/
.ipynb_checkpoints/
.venv/
.venv-1/
.DS_Store
*.pyc
